.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.cardLink {
    width: 30vw;
    max-width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
